*, body, html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	font-family: 'Poppins', sans-serif;
	background: #000000;
}

/* Global */

#navForm input {
	background: rgba(255,255,255,0.1);
	border: none;
}